<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="#">Recipes Book</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Recipes</a>
        <a class="nav-item nav-link" href="#">Shopping list</a>

        <div class="nav-item nav-link dropdown">
            <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Save data</a></li>
                <li><a href="#">Fetch data</a></li>
            </ul>
        </div>
    </div>
  </div>
  </nav>